.header {
    background-color: #1064c4;
    color: white;
    text-align: center;
    font-family: 'Optima', sans-serif;
    font-size: 36px;
  }
  .profile-section {
    display: flex;
    align-items: center;
    justify-content: start;
  }
  
  .profile-photo {
    width: 300px; /* Set the width of your image */
    margin-left: 200px; /* Add some space between the image and the text */
    margin-right: 100px; /* Add some space between the image and the text */
  }
  
  .about-me {
    max-width: 500px; /* Set a maximum width for your text */
    font-size: 20px;
  }
  
  